# Ignore documentation output.
**/docs/**/output/*

# Ignore CMake build directory.
build/

# Ignore build artifacts
*.o

# Ignore code coverage artifacts
*.gcda
*.gcno
*.gcov

#Ignore core_json.c and core_json.h in cbmc proof dirs
core_json.*